[2017-08-01 03:07] KodrAus opened #1 "Publish on crates.io"
- [x] Add a dummy project that exercises each of the impls in various ways (I think there might still be some cases that aren't covered properly)
- [x] Add a proper readme and docs
- [x] Check if we actually need a separate `internals` crate. It'd be nice if we don't. I put that there to make it easier to unit test.

[2017-08-01 09:30] KodrAus commented on #1
Done :tada:

[2017-08-01 09:30] #1 closed

[2017-10-07 02:20] KodrAus opened #3 "Support reference types"
Maybe just `#[auto_impl(&)]` and `#[auto_impl(&mut)]` would do it. We should be able to support associated types ad let ref coersion break in cases it isn't supported.

[2017-10-07 10:56] #3 closed

[2017-10-07 13:05] KodrAus opened #5 "Clean up a few things"
This is a list of a few things that should be cleaned up:

- [x] use fully qualified paths for `Box` and `Fn` traits in generated code
- [ ] support mutable and by-value receivers for `Box`
- [ ] properly reject by-value receivers for `&mut`
- [ ] support associated methods (where there's no `self` receiver)
- [ ] clean up the attribute parser and make sure it works when there's no whitespace (the

[2017-10-09 07:13] #5 closed

[2017-10-09 07:19] KodrAus opened #7 "Add crate docs"
The crate docs are pretty sad. While the method signature isn't going to be very helpful we should at least include most of what's in the readme in there.

[2018-01-21 22:34] KodrAus opened #8 "Update to syn `0.12`"
So we can report errors much more better using spans to the actual code that prevents `auto_impl` from being valid.

[2018-07-04 14:33] LukasKalbertodt commented on #8
Hi @KodrAus,

I just wanted to let you know that I'm working on a syn update by rewriting the crate, basically. First I just tried to update it to the new version incrementally, but I noticed that quite a lot has happened since this crate was written. Thus, updating wasn't that easy and would have required a lot of cleanup. So I figured I could just try to rewrite it.

I'm already like... half don

[2018-07-04 21:44] KodrAus commented on #8
Hi @LukasKalbertodt! Wow that sounds great to me! I'd be more than happy to just give you the commit bit so you can push changes through if you'd like.

I'm really interested to see what an implementation using `syn` `0.12` looks like.

[2018-07-05 08:15] LukasKalbertodt commented on #8
@KodrAus I'd prefer to create a PR and having someone to at least quickly skim over the new code. But thanks for invitation anyway. I'm sure there are more updates needed before the proc_macro system hits stable :P

And if this wasn't clear: I upgraded to the newest version of `syn` (`0.14.4`),` quote` (`0.6.3`) and `proc_macro2` (`0.4.6`). But yes, I think the new implementation will look a lot d

[2018-07-10 15:03] LukasKalbertodt opened #10 "Let user decide whether or not to include provided methods in the generated `impl` blocks"
If a trait has a provided method (body already provided), we can either include the method in the generated `impl` blocks or we can omit them. I don't think there is a clear "right thing to do" for every case, so we should let the user decide. Maybe something like that:

[code]

[2018-07-10 15:13] LukasKalbertodt opened #11 "Think about how to handle `Self` bounds on methods"
I encountered a problematic situation where a trait method has a `Self` bound.

[code]

Which results in:

[code]

Ok, that makes sense, but what should we do about it? We cannot add the bound `T: Clone` to the method as this will result in "impl has stricter requirements than trait". We can add a `T: Clone` bound to the `impl` block, but this restricts the `impl` a lot. The method `one()` should

[2018-07-18 08:08] KodrAus commented on #11
I guess the issue is how the macro attribute can scale to accommodate other kinds of bounds on the impl target, like adding the `?Sized` bound in `impl<'a, T: ?Sized + SomeTrait> SomeTrait for &'a T`. The `#[auto_impl(&, &mut, Box)]` approach doesn't get us very far.

For the `?Sized` specifically I think we could possibly just always add a `?Sized` bound for references, since we only support meth

[2018-07-19 20:08] LukasKalbertodt opened #12 "Hygiene and names of type/lifetime parameters"
So we need our own type parameter (and lifetime parameter in case of `&` and `&mut`). Right now they have the beautiful names `__AutoImplProxyT` and `__auto_impl_proxy_lifetime`. This is done because the part of proc macro API that has now been stabilized [doesn't include def site hygiene](https://doc.rust-lang.org/nightly/proc_macro/struct.Span.html#method.def_site) but only call site hygiene. Me

[2018-07-20 12:02] LukasKalbertodt commented on #11
Good point, I guess that would work.

Regarding the main problem: I think I'm against giving the user too many configurations. I think this crate is a crate for 95% of all cases. I don't think it's a problem when the remaining 5% need to be coded by hand. And in particular, including something like `<'a, T: Clone>` in the `auto_impl` attribute looks too noisy to me. I like the current approach of

[2018-07-20 12:12] LukasKalbertodt opened #13 "Compile on stable Rust 2018"
It would be neat to be able to use this on stable (once `use_extern_macros` is stabilized). Currently the following features are activated:

- [x] ~~**`#![feature(in_band_lifetimes)]`**: [tracking issue](https://github.com/rust-lang/rust/issues/44524), expected to be stabilized for Rust 2018. If not, we can easily remove the feature by changing one line of code.~~ **=> probably won't be stabilized

[2018-07-20 12:17] LukasKalbertodt opened #14 "Make in-band lifetimes work with Fn-traits"
[In-band lifetimes](https://github.com/rust-lang/rust/issues/44524) will probably be stabilized soon. Currently, `auto_impl` doesn't work with those and Fn-traits. From the comments [here](https://github.com/KodrAus/auto_impl/blob/bd1d966dd38c7558ed83d2054b63da8ff3cdf54a/src/gen.rs#L245-L260):

**Edit**: given the recent discussion about in-band lifetimes, we might not need to worry about this, as

[2018-07-20 12:20] LukasKalbertodt opened #15 "Tests"
The current testing situation is not terrible, but it can certainly be improved:

- [x] More compile-pass tests
- [x] Make compile-tests more granular
- [x] Add compile-fail tests
  - [ ] Compare actual error message (or code) with expected one (see [this comment](https://github.com/KodrAus/auto_impl/pull/17#issuecomment-406902555) for some thoughts on this)
- [x] Make compile-tests and compile-fa

[2018-07-20 12:21] LukasKalbertodt opened #16 "Documentation and README"
Before the next release, proper documentation (in code and in the README) should exist. The README is already pretty nice, but might need updating.

[2018-07-20 12:32] LukasKalbertodt commented on #15
I think I'll tackle (parts of) this next.

[2018-07-20 13:02] Mark-Simulacrum commented on #13
I would instead use the `compile_error` macro -- that'll give you slightly nicer error messages and it is already stable.

[2018-07-20 13:06] LukasKalbertodt commented on #13
@Mark-Simulacrum Awesome idea! I'll certainly try that!

[2018-07-22 21:57] KodrAus commented on #11
Yeh I agree with this. Otherwise we'd end up in configuration soup very quickly and it'd be a nightmare to maintain and use.

I'll open up a separate issue for the auto `?Sized` bound on references. I think it should definitely be possible for `Rc` and `Arc` too.

[2018-07-22 22:04] KodrAus commented on #10
Ah interesting, can you think of a reason we wouldn't just want to always forward the provided method to the underlying `T` since it might have been given a different implementation? I think that's a good default behaviour, but it also seems worthwhile to build out some infrastructure to handle attributes on methods too and deal with cases where they're not valid. Maybe for syntax we could stick a

[2018-07-22 22:10] KodrAus commented on #12
I think I'm in favour of a scheme to choose 'reasonable' generic parameter names too. Maybe it's not as bulletproof as def-site-hygiene, but it keeps the generated code closer to what you'd write by hand. Using in-band lifetimes when they're available also sounds like a good thing to do to get rid of our lifetime altogether.

[2018-07-23 07:44] LukasKalbertodt commented on #12
Great! Then I'll work on this after I finished the testing work.

[2018-07-23 07:58] LukasKalbertodt commented on #10
Syntax wise: absolutely, `include_for(&, Box)` is way better ^_^

Regarding the "why not always just implement default methods?": because `Self` bounds -- discussed in #11 . That's something I encountered in a code base of mine when I tried to use `auto_impl`.  That's why I created these two issues. Maybe I should not have split them...

I can't come up with a simple but useful example right now,

[2018-07-23 12:35] LukasKalbertodt commented on #10
I talked to two friends (who know Rust) about this and I thought about it a bit more. We think that *opt-out* is better. As in: by default, provided methods are generated and delegated to `T`.

A user could reasonably assume that `&T` behaves like `T`. Not overwriting the method can lead to dangerous surprises. For example, the `Iterator` trait has the method `size_hint` which is a provided impl.

[2018-07-24 09:03] LukasKalbertodt opened #18 "Add super trait bound to proxy type"
I just noticed that I never thought about how this crate works with super traits. I guess that this:

[code]

Should generate these impl blocks:

[code]

Right? Or am I missing something? That logic should work for all proxy types, even `Fn`.

---
I can mentor anyone interested in tackling this issue :)
Just ping me (via email, this issue, or in any other way)

**Instructions**: the important code

[2018-07-24 17:15] LukasKalbertodt opened #19 "Explicitly pass type parameters when delegating the method"
[code]

Is expanded into:

[code]
And results in two compiler errors. So we need to change the method body into an explicit call all of the time. In this case:

- `V::foo::<T>()`, and
- `V::bar::<T>(*self)`

---
I can mentor anyone interested in tackling this issue :)
Just ping me (via email, this issue, or in any other way)

**Instructions**: code generation of methods is done in `gen_method_item

[2018-07-24 17:27] LukasKalbertodt opened #20 "Should we add `#[inline]` to generated methods?"
The methods we generate in the `impl` blocks are super simple and just call another function. Therefore one might want to add `#[inline]` or `#[inline(always)]` to those methods. However, in C++ land I learned that the programmer usually is way dumber than the compiler and that one should just let the compiler do its thing most of the time.

I'm not sure what we should do here.

[2018-07-25 22:06] KodrAus commented on #18
Ah, good catch. Yeh, I think we should be able to add super trait bounds to all of the supported proxy types

[2018-07-25 22:17] KodrAus commented on #20
I think we should be ok without an `#[inline]` attribute because the impls generated are all generic so should be candidates for inlining across crates already.

[2018-07-25 23:37] LukasKalbertodt commented on #20
Good point. So I'll close this. If someone actual encounters problems due to this, we can reopen.

[2018-07-25 23:37] #20 closed

[2018-07-25 23:54] LukasKalbertodt opened #22 "Use impl header lifetime elision in generated impls for '&' and '&mut' once stable"
Just a reminder: once lifetime elision in impl headers (see [tracking issue](https://github.com/rust-lang/rust/issues/15872)) is stable, the generated code should use that feature. So instead of:

[code]

It will be (at least I think that's the syntax):

[code]

Same for `&mut`.

This does matter as the generated code ends up in the docs. And we want that code to be as idiomatic as possible.

[2018-07-29 20:54] LukasKalbertodt opened #23 "`self` receiver and `FnMut`: cannot borrow immutable argument"
[code]

Expands to:

[code]

Which errors because `self` is bound immutably but used mutably. To fix this, we could treat this as a special case and generate `(mut self)` instead of `(self)`. Maybe there is another way. Or we could simply always generate `({self})()` as body for Fn traits: the `{}` act as the identify function, so `self` can be used mutably or immutably.

---
I can mentor anyone i

[2018-07-29 21:46] LukasKalbertodt opened #24 "Emit warning on empty proxy type list"
The attribute `#[auto_impl()]` should lead to a warning on nightly. Sadly, we cannot emit warnings on stable (since the `proc_macro_diagnostic` API is still unstable).

---
I can mentor anyone interested in tackling this issue :)
Just ping me (via email, this issue, or in any other way)

**Instructions**: Two things need to be done:
- First, we need to extend a few things in `diag.rs`. There, we h

[2018-07-30 23:09] KodrAus commented on #23
I like the `({self})()` trick here, since it means fewer special cases.

[2018-07-30 23:15] #12 closed

[2018-07-30 23:40] KodrAus commented on #10
:+1: Hmm, this sounds like the best way to go to me.

So if we think about what the result of this attribute is, instead of writing a generic impl that forwards to our inner type we explicitly retain the default impl as specified on the trait. Omitting this default method from the impl has the same observable behaviour as inlining it with the same body. Given that, I think framing the attribute ar

[2018-08-30 13:16] LukasKalbertodt commented on #13
I think we should release a new version before the official Rust 2018 release. So I removed the v0.3 milestone.

[2018-09-03 23:27] #10 closed

[2018-09-11 04:49] saresend commented on #19
Hey, is this issue still available?

[2018-09-11 11:01] LukasKalbertodt commented on #19
@saresend To my knowledge, no one is working on this yet. So yep, it's available! So you want to work on this? :)

You can of course always ask questions in this issue, but you can also contact me via mail (address on my GitHub profile), via Discord (on the Rust server https://discord.gg/2cr8M4D) or via Telegram (username is the same as my GitHub username).  I think that often, real time messaging

[2018-09-11 19:33] saresend commented on #19
Yep, I'd be interested in taking this issue! Thanks, I'll be in touch!

[2018-09-21 14:00] LukasKalbertodt commented on #13
With #31 this crate compiles on beta RC1. So we're on track for having this compile on stable Rust 2018. I guess we'll keep this issue open until the real Rust 2018 is released and we can be sure that all is fine.

[2018-09-21 14:06] LukasKalbertodt commented on #19
Hi @saresend, I just wanted to check your status. Are you still working on this? But no worries: I don't want to rush you! If you have problems trying to tackle this issue, just let me know!

[2018-09-21 17:47] saresend commented on #19
Hey! Yeah, I'll likely tackle it this weekend, I'm currently in university and so my availability is quite sporadic :P Expect to hear from me sometime tomorrow!

[2018-09-21 17:53] LukasKalbertodt commented on #19
Fantastic! :)
(and yeah, who doesn't know those time problems...)

[2018-09-24 06:12] saresend commented on #19
Hey, I realize that I really lack understanding of procedural macros and how they function in Rust. Do you know of any resources to get up to speed? Thanks!

[2018-09-24 06:33] KodrAus commented on #19
:wave: Hi @saresend! The new procedural macro work doesn't seem to have a lot of documentation just yet, I've set up a [gitter channel](https://gitter.im/auto-impl-rs/Lobby) we can use to help you get started.

[2018-09-24 10:59] LukasKalbertodt commented on #19
@saresend No problem, that's why we offer this mentoring :)

There is actually [a section in the book](https://doc.rust-lang.org/book/2018-edition/appendix-04-macros.html#procedural-macros-for-custom-derive) about proc macros. But let me quickly summarize it for you in context of this crate (more explanations never hurt, right?):

There are three different kinds of proc macros: custom derives (`#[

[2018-09-26 04:14] saresend commented on #19
Hey, just wanted to ask a couple of things involving how testing is being built. Specifically, since it depends on using the unstable build-plan to establish the binary target, it seems to be failing to execute the tests. I was wondering if there was a way to rely on something more stable for determining the binary target, specifically I was looking at using <code>cargo build --tests --message-for

[2018-09-26 13:45] LukasKalbertodt commented on #19
@saresend I'm not sure if you've seen that but @KodrAus noticed this problem and created https://github.com/rust-lang/cargo/issues/6082. On recent nightlies, our tests fail because of that, yes. But it's already fixed upstream -- now we only have to wait until it lands in nightly.

But your idea is very interesting! Ideally, something like a compile-fail tester should be implemented in an external

[2018-09-26 17:02] saresend commented on #19
Oh, cool! Thanks for the heads up!

[2018-10-03 06:31] scottmcm commented on #22
Yes, that's correct.  There's a bunch of examples from libcore in PR https://github.com/rust-lang/rust/pull/54687.

[2018-10-03 10:55] LukasKalbertodt commented on #22
@scottmcm Thanks for creating the stabilization for 2015 PR <3
Then, I can finally implement this issue.

[2018-10-04 14:48] LukasKalbertodt commented on #19
Fixed in #35 :)

[2018-10-04 14:48] #19 closed

[2018-10-06 12:39] LukasKalbertodt opened #37 "Make `Fn*` types work with some generic methods"
Currently, this:

[code]

Generates this:

[code]

This doesn't compile as `T` is only declared on the method but already used in the impl header. We could make this specific thing work by moving `T: Display` to the impl header.

But it's questionable whether we should support generic functions at all. `impl Trait` in argument position could be complicated. We would have to transform `impl Trait`

[2018-10-06 13:44] LukasKalbertodt opened #39 "Relicense as MIT/Apache-2"
I just noticed that this crate is currently licensed as MIT only. The vast majority of crates in the Rust eco-system are dual license as MIT/Apache-2. @KodrAus is there a specific reason you licensed it as only MIT? AFAIK, yes, MIT is strictly *more* liberal than Apache-2, but they are still somewhat incompatible and Apache-2 apparently helps with some trademark thingies?

Anyway, I would immediat

[2018-10-07 21:18] KodrAus commented on #39
@LukasKalbertodt There wasn't a special reason, adding Apache2 sounds good :+1:

Also cc @sarasend are you happy for your contributions to be licensed under dual MIT/Apache?

[2018-10-07 21:19] KodrAus commented on #39
Also cc @saresend are you happy for your contributions to be licensed under dual MIT/Apache?

[2018-10-07 23:56] saresend commented on #39
Yep, that works for me!

[2018-10-08 10:55] #23 closed

[2018-10-08 11:02] LukasKalbertodt commented on #39
Perfect! Will create a PR once #38 is merged :)

[2018-10-12 09:37] RReverser opened #41 "Newtype support"
It looks like this crate has all the needed machinery in place to be extended to work with any newtypes and not just smart pointers, allowing traits to opt-in to easily work with anything that implements `From<T> + Deref<Target = T>` (which all the smart pointers also already fit).

One approach could be to generate blanket implementation with trait bounds specified above, but another could be hav

[2018-10-15 00:56] KodrAus commented on #37
Could we use a similar technique to finding a reasonable name for generic types that we do with `find_suitable_param_names`?

[2018-10-15 08:27] #7 closed

[2018-10-15 08:27] #16 closed

[2018-10-15 08:48] #39 closed

[2018-10-15 10:19] RReverser commented on #41
I could play on a fork and make a PR if that helps?

[2018-10-15 10:33] LukasKalbertodt commented on #41
Sure, if you already want to play with the code: go ahead. I thought about first discussing what we want, but already trying things out can help a lot! However, please don't invest a lot of time in implementing a solution you like without talking with us about that solution beforehand. Just in case we don't agree with the solution, we don't want you to waste your time :)

[2018-10-15 10:52] RReverser commented on #41
Well in the worst case I can always go back to original plan and publish it as a separate crate later in case our views don't align. For now just trying to solve some specific cases I run into in myself all the time.

[2018-10-26 09:41] #18 closed

[2018-10-28 15:26] LukasKalbertodt opened #46 "Add `!` (never) as proxy type"
I think this could be handy. It would just add an `impl Trait for ! {}`. This should work fine for all traits, that:
- don't have associated constants or types
- only have methods which take some sort of receiver (`self`, `&self` or `&mut self`).

All methods can then be implemented with `self` as body, because `!` is coercable to all other types. So we can basically implement the trait for `!` wh

[2018-10-30 01:00] KodrAus commented on #46
This sounds fair to me! I haven't been keeping up with the never type recently, but was there some talk about having it specially understood as always implementing all traits without bumping up against the usual coherence rules?

[2018-10-30 02:00] LukasKalbertodt commented on #46
I'm also not sure tbh. I doubt that it will automatically be implemented for traits, as it shouldn't be implemented for some (e.g. `Default`). So... I'm not aware of those plans or any things that could make this issue impossible.

[2018-12-06 22:05] LukasKalbertodt commented on #13
Seems to work with Rust 2018 (1.31), so I'm gonna close this :)

Happy Rust2018!

[2018-12-06 22:05] #13 closed

[2018-12-06 22:17] LukasKalbertodt commented on #14
The discussion around in band lifetime has slowed. To me it seems like it's not going to land anytime soon. I don't see the point in having this issue open until this feature is possibly added in the future. I'm gonna close this now. We can reopen if this actually will be an issue ;-)

[2018-12-06 22:17] #14 closed, assigned to nobody

[2019-03-11 19:31] felipehfs commented on #24
Hello, I'm a junior developer in Brazil and I want to contribute but I don't know how to get started.

[2019-03-11 19:42] felipehfs commented on #24
My email is felipehfsouza@gmail.com if you want contact me.

[2019-03-12 08:37] LukasKalbertodt commented on #24
@felipehfs Great! I wrote you a mail :)

[2019-03-21 16:30] jsgf opened #49 "auto_impl for trait objects?"
The use-case I run into most often is boilerplate for:
[code]

Would it be possible to extend auto_impl to this case?

It would also need to support generating impls with autotraits/lifetimes:
[code]

[2019-03-24 11:00] LukasKalbertodt commented on #49
It would be absolutely possible to extend `auto_impl` for this use case! But at the same time, we should also support `&dyn Trait`, `&mut dyn Trait`, `Rc<dyn Trait>` and `Arc<dyn Trait>`. So basically every "pointer type" we currently support, only with a trait object.

I'm not quite sure how much work that would be. Hopefully we don't have to copy all the code for the other types, but can instead

[2019-03-24 11:04] LukasKalbertodt commented on #22
As discussed in #44 implementing this is probably not really worth it. I will close this issue for now. If someone thinks this issue is absolutely worth solving, we can reopen.

[2019-03-24 11:04] #22 closed

[2019-03-25 10:00] jsgf commented on #49
I had a poke around the source and came to similar conclusions. I was thinking of adding it as something like `#[auto_traitobj(&, Rc, Arc + Sync + 'static)]` - ie, basically the same syntax but with the ability to append marker traits.

As far as codegen goes, it would be nice to avoid duplicating all the existing code, but I haven't looked at it closely enough yet to work out how to do that.

[2019-06-05 10:59] LukasKalbertodt opened #51 "Compiler error running tests"
For a few weeks now, the daily CI builds fail on nightly. Everything works up till the doctest which fails with:

[code]

I investigated a bit and found the cause of this failure:
- `cargo build` (and `cargo test --no-run`) prepare the files correctly. They create `libquote-db9ca8cbcca99a73.rlib` in the right location.
- `cargo test --tests` now runs our own test harnesses. They need to get the pa

[2019-07-11 23:48] dtolnay opened #52 "Make impls apply for trait objects"
It looks like there may be some `?Sized` bounds missing? I would expect the following auto impls to apply to `<T: ?Sized> &T` and `<T: ?Sized> Box<T>` but they don't.

[code]

[code]

[2019-07-11 23:49] jsgf commented on #49
#52 addresses this more precisely.

[2019-07-11 23:49] #49 closed

[2019-07-12 09:48] #51 closed

[2019-07-12 10:01] LukasKalbertodt commented on #52
Nice idea! Implementing this is fairly easy. But I noticed a problem: what should happen if the trait has a method with `self` receiver? Then the generated impl block with `?Sized` bounds causes an "the size for values of type `T` cannot be known at compilation time" error.

So should we just add `?Sized` bounds whenever possible? And just don't add them if it's impossible due to a method or so? O

[2019-07-12 15:54] dtolnay commented on #52
Good catch -- when there are self-by-value methods then the impl shouldn't have a `?Sized` bound.

[2019-07-12 15:56] LukasKalbertodt commented on #52
My question was rather about: if we conditionally add the `: ?Sized` bound, that might be surprising for the user of the library. As in: they use a trait with trait objects, add a "self by value" method to the trait and suddenly `auto_impl` does something different and their stuff doesn't work anymore. Or is such a situation unlikely?

Also we should probably ignore "self by value" methods which a

[2019-07-14 23:42] KodrAus commented on #52
So I guess there are a few different directions we could take:

1. Silently add `?Sized` bounds when they're possible
1. Add another container type, like `&dyn` that implies `&` and will fail if there are by-value `self` receivers
1. Allow custom bounds like `T: ?Sized` to be added by consumers

Personally, I think 1 (and maybe 2 as well?) would be ok. The argument about it being surprising is tot

[2019-07-14 23:44] KodrAus commented on #52
(I'm kind of conflating object safety with `?Sized` bounds, which isn't totally accurate but I think you get what I mean 🙂)

[2019-07-14 23:47] dtolnay commented on #52
+1 for @KodrAus's option 1. If my code asks for `auto_impl(&, Box)` then I would expect those impls to apply whenever possible; for ?Sized if possible, and not for ?Sized if that wouldn't be possible.

[2019-07-15 00:22] LukasKalbertodt commented on #52
Ok, I'm convinced! Will probably implement option 1 in the next days.

[2019-07-16 15:43] LukasKalbertodt opened #55 "Add proper compile-fail tests"
We already have compile-fail tests, but they in fact only check if compilation indeed fails. It does not check the error message at all. This is pretty unfortunate, because any other random failure can make the test pass.

See [this PR](https://github.com/auto-impl-rs/auto_impl/pull/17) for discussion on how one would do that. We probably want to use a crate that does it for us, but it's not clear

[2019-07-16 15:44] LukasKalbertodt commented on #15
Replaced by #55

[2019-07-16 15:44] #15 closed

[2019-07-21 08:35] LukasKalbertodt commented on #11
Fixed in #54

[2019-07-21 08:35] #11 closed

[2019-07-21 08:37] LukasKalbertodt commented on #52
@dtolnay In #54 I basically implemented what we discussed here. Did you have a particular use case in mind? If so, could you test it with that patch? If it works, we can close this issue. If you didn't have any particular thing in mind, I would probably close it without further testing.

[2019-07-21 12:39] dtolnay commented on #52
My use case looks like https://github.com/auto-impl-rs/auto_impl/blob/90f17b69350204689730de3a5c4cc17d038d8d94/tests/compile-pass/trait_obj_immutable_self.rs so I think we can close this out. Thanks!

[2019-07-21 12:39] #52 closed

[2019-09-03 08:59] LukasKalbertodt opened #56 "Investigate using `syn-mid`"
I found [this project](https://github.com/taiki-e/syn-mid) which could help reduce compile times of `auto_impl`. Currently we use the "full" feature of `syn` which leads to a quite high compile time of that crate. `syn-mid` promises to solve that problem by not parsing function bodies. Sounds like we should use it for `auto_impl`.

I didn't have time to investigate further, though. Hence this issu

[2019-10-22 21:50] LukasKalbertodt commented on #56
`syn-mid` doesn't seem to offer `ItemTrait` and related types. So it seems like we can't use it here.

@taiki-e: Hello there! Is there a reason why `syn-mid` does not offer `ItemTrait`? Or am I missing something? Do you think this project (`auto_impl`) could use `syn-mid`? We need to parse trait definitions, but we do not care about function bodies.

[2019-10-26 17:07] taiki-e commented on #56
Hi @LukasKalbertodt. The types provided by `syn-mid` are not compatible with `visit` feature, so even if `syn-mid` provides `ItemTrait`, I think it is difficult to use `syn-mid` in `auto_impl `.

For example, the following visitor seems to be visiting the signature of a function, but [as `syn::Signature` needs `full` feature](https://github.com/dtolnay/syn/blob/40a51e96dddb47af7abceed2a78f3fa12a22

[2019-10-26 17:14] LukasKalbertodt commented on #56
@taiki-e Thanks for checking out this issue and taking the time to have a look at this code! It's really appreciated.

The code you linked... could probably work fine without the `Visit` feature of `syn`, but would be more verbose. I guess we won't use `syn-mid` in `auto-impl` anytime soon then. We can revisit this issue if anything significant changes :)

Thanks again!

[2019-10-26 17:14] #56 closed

[2019-10-30 00:45] CreepySkeleton commented on #55
You should take a look at [trybuild](https://github.com/dtolnay/trybuild) crate, it not only perform "compiles or not" check but also validates the error (actual/expected match).

[2019-10-30 02:09] CreepySkeleton opened #58 "Proposal: throw away diag.rs module and use proc-macro-error crate"
Hey there!

I see you put significant effort into error reporting in your crate. It so happened that I'm very interested in the situation around error reporting in proc-macros and I made [a crate](https://crates.io/crates/proc-macro-error) just for it.

It turns out that most of the code in your `diag.rs` module is very very similar to the code in my crate (thread local storage of errors, emitting

[2019-10-30 20:39] LukasKalbertodt commented on #55
@CreepySkeleton Oh wow that looks really good! dtolnay did it again! They are just incredible...

Anyway, thanks for mentioning that here! I looked for a good library that does this for quite some time! Will probably try at using it later.

[2019-10-30 20:52] LukasKalbertodt commented on #58
Hi there!

Thanks for reaching out to us. While writing `diag.rs` I certainly wished that there was a nice proc macro error reporting library. So I'm very tempted to replace it with a library.

However, I'm not quite sure about `proc-macro-error`. Reading over the documentation, it seems a bit too much magic to me. Especially the `#[proc_macro_error]` attribute and what exactly it does to the main

[2019-10-31 00:53] CreepySkeleton commented on #58
There's no magic involved, actually. `#[proc_macro_error]` just helps you to build up right [`entry_point` invocation](https://docs.rs/proc-macro-error/0.3.4/proc_macro_error/fn.entry_point.html) while keeping indentation level flat. What exactly it does:

- It makes a closure of your whole top-level function, wrapping it with [`AssertUnwindSafe`](https://doc.rust-lang.org/std/panic/struct.AssertU

[2019-11-28 17:43] #55 closed

[2020-01-13 07:18] LukasKalbertodt commented on #58
Closed in #60

[2020-01-13 07:18] #58 closed

[2020-01-14 23:14] dpc opened #64 "Auto-impl trait objects?"
[code]

Any chance to support these?

[2020-01-14 23:46] LukasKalbertodt commented on #64
I think this would be a useful addition to the library. However, won't have time to implement this any time soon.

Also, there are some open questions, in particular how to specify those types in the `#[auto_impl(...)]` attribute. Maybe we should support `#[auto_impl(Box<dyn>)]` (trait object) and `#[auto_impl(Box<impl>)]` (the current behavior, static dispatc). And `#[auto_impl(Box)]` would just

[2020-01-15 00:59] dpc commented on #64
I think `Box<dyn>` looks OK, and the previous ones can stay as they were.

Alternatively:

* `#[auto_impl(Box)]` does both `#[ auto_impl_dyn(Box)]` and  `#[auto_impl_stat(Box)]` do one or the other

[2020-02-25 12:34] ebkalderon opened #65 "Unable to use auto_impl with async-trait"
I was trying to use `auto_impl` to delegate the implementation of `Box<T> where T: Trait` and `Trait` was a trait annotated with the [`async-trait`](https://github.com/dtolnay/async-trait) procedural macro. I was using it like this:

[code]

The ordering of the above macros matters, as it ensures that `async_trait` transforms `Foo` into the following Rust code before `auto_impl` parses it:

[code]

[2020-02-25 12:40] ebkalderon commented on #65
I also just had a realization that perhaps the code generation might not work anyway, since `async-trait` also performs transformations on the method bodies of implementations, not just in the trait definitions.

If you could confirm whether this is even possible to do with `auto_impl`, I would greatly appreciate it. Otherwise, I wouldn't mind closing https://github.com/ebkalderon/tower-lsp/pull/1

[2020-02-25 14:01] ebkalderon commented on #65
I've closed https://github.com/ebkalderon/tower-lsp/pull/109 for now, but I would still like to know if this is possible.

[2020-02-26 21:36] LukasKalbertodt commented on #65
Hi there!

Turns out we just didn't release a new version for quite some time! [This PR you linked](https://github.com/auto-impl-rs/auto_impl/pull/54) is not yet released.

I just tested with the current `master` and both example code snippets you posted (the one with `#[async_trait]` and the one already expanded) both emit the following impl:

[code]

I guess I can release a new version soon!

[2020-02-26 21:39] LukasKalbertodt commented on #65
@ebkalderon Could you test your crate with our `master` branch and check if it works for you? Then I can release I think.

[2020-02-27 03:50] ebkalderon commented on #65
Thanks a lot for clarifying, @LukasKalbertodt! Sure, I'll try it out on my local clone right now.

[2020-02-27 04:05] ebkalderon commented on #65
Hmm, I've revised the commit on the [`use-auto-impl-box`](https://github.com/ebkalderon/tower-lsp/tree/use-auto-impl-box) branch of `tower-lsp` to test out `master` of `auto_impl`, and it's failing to compile with the following error:

[code]

[2020-02-27 04:05] ebkalderon commented on #65
Perhaps we could examine the expanded code generated by `#[auto_impl(Box)]` and see what's happening.

[2020-02-27 04:17] ebkalderon commented on #65
I think the generated code should be corrected from this:

[code]

to this:

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f7b832f31e7f3f3bd10872c93a0618ed)

[2020-02-27 07:54] LukasKalbertodt commented on #65
Interesting, thanks for checking.

In this case, we can simply remove the `+ 'async_trait` bound from the impl header. But I am not sure if we can always do that! Check #11 for more information.There, my example in the top comments doesn't compile. But if we replace the `Self: Clone` bound with a `'static` bound, it *does* compile!

[code]

I don't quite know why it's allowed. First it seemed like

[2020-02-27 08:43] ebkalderon commented on #65
Well, if you check the [desugared version](https://docs.rs/tower-lsp/0.7.0/tower_lsp/trait.LanguageServer.html) of `LanguageServer` (expand the trait definition in Docs.rs to see it), you will see that `'async_trait` is a lifetime that is not declared on the trait itself, but is rather declared on each method individually, similar to `Foo::bar()` as seen in https://github.com/auto-impl-rs/auto_imp

[2020-02-27 08:52] LukasKalbertodt commented on #65
Yeah it's true, the `Self` bounds are on the methods. I initially thought it was not necessary to put those  bounds into the impl header, but check #11 again. The `Clone` bound in the impl header is simply necessary. Now I'm just trying to find out why the same restriction does *not* apply to lifetimes.

[2020-02-27 09:14] ebkalderon commented on #65
I don't believe the two cases are directly comparable, despite sharing similar syntax. I think this might be another case of input and output [lifetime elision](https://doc.rust-lang.org/1.9.0/book/lifetimes.html#lifetime-elision) being made explicit, but I'm not as familiar with the deeper intricacies of the elision rules to know for certain. For example, I wonder `Foo::foo1()` and `Foo::foo2()`

[2020-03-05 19:04] LukasKalbertodt commented on #65
I'm currently pretty busy, but I'll try to figure this out and fix this by the end of the month.

[2020-03-06 01:28] ebkalderon commented on #65
No worries, @LukasKalbertodt. Take your time. Thanks for creating this awesome crate, by the way!

[2020-06-20 19:21] LukasKalbertodt commented on #65
I finally managed to take a closer look. I discovered the bug in my thoughts (i.e. why I was confused).

In short: if we access a field (or something like that) of `self`, we cannot assume `self.field` implements `SomeTrait` even if `Self: SomeTrait`. That's why #11 was a bug that needed fixing. *However*, `self.field` *always* satisfies the same lifetime bounds as `Self`, *or more*. In other word

[2020-06-22 01:45] ebkalderon commented on #65
Awesome work, @LukasKalbertodt! That's a very subtle change, but it makes perfect sense. I really appreciate you looking into it.

I tried enabling it in `tower-lsp` by adding `#[auto_impl(Box)]` underneath the `#[async_trait]` attribute, but now I'm running into another issue where this static assertion nonetheless fails to compile:

[code]

Error message:

[code]

This seems to be because `auto_

[2020-06-24 21:11] LukasKalbertodt commented on #65
@ebkalderon Are you sure you are not testing with an incorrect version of `auto_impl`? I'm the branch of #67 and this code compiles fine without errors:

[code]

And `cargo expand` also shows a `?Sized` relaxation.

[2020-07-07 10:11] ebkalderon commented on #65
Sorry for the delayed response, @LukasKalbertodt! Indeed I was. I had checked out an incorrect commit ref and didn't get the changes. It seems to work just fine now. 👍

[2020-07-19 12:55] #65 closed

[2020-07-19 14:36] LukasKalbertodt opened #69 "Use `Span::mixed_site`"
There is a new `Span` constructor in town. We could probably nicely use it in `auto_impl` and then probably remove the `nightly` feature completely.

[2020-07-20 09:15] KodrAus commented on #69
Ah this is the more hygienic mode isn’t it? So we could avoid some if the fun old hacks for mangling names?

[2020-07-20 09:29] LukasKalbertodt commented on #69
Yeah, though I would probably keep the "find a nice name" code, to make documentation nicer. Otherwise users might be confused by seeing `T` twice, referring to different things. *But* I am also not 100% sure how this mixed site works. I need to read up on that. This issue is as a reminder for me :P

[2020-09-20 23:14] daniel5151 commented on #64
I'd also love to see this added. It would let me remove [this gnarly macro](https://github.com/daniel5151/gdbstub/blob/784ba851c712a058b9e3850873ccb133709811ae/src/target/mod.rs#L322-L357) from my project :smile:

Aside from `Box<dyn T>`, there's also `&dyn T` and `&mut dyn T` as well.

I would recommend keeping the two impls separate, as not all Traits can be used as Trait Objects (see [Object Sa

[2020-09-20 23:22] daniel5151 opened #72 "`no_std` support"
At the moment, the generated code uses types prefixed with `::std::`. By switching to `::core::` and `alloc::`, `#[auto_impl]` could work with `no_std` projects as well.

- `std`'s `Arc`, `Rc`, and `Box` types are simply re-exports from [`alloc`](https://doc.rust-lang.org/alloc/).
- Skimming through the codebase, I noticed some other types which should be swapped out with their `::core` counterpar

[2020-10-15 12:25] LukasKalbertodt commented on #72
Sounds like a good idea. Two things:

- Is it fine to unconditionally replace `::std::` with either `::alloc::` or `::core::`? Or would that break something and should this be behind a `no-std` crate feature?
- Would this change bump the minimal required Rust version (currently 1.30)?

If you could look into those things, that'd be great!

[2020-10-15 16:35] daniel5151 commented on #72
The `::std` types are just [re-exports](https://doc.rust-lang.org/src/std/lib.rs.html#382) of the `::core`/`alloc` types, so this wouldn't break anything / require bumping the MSRV.

[2021-01-08 08:43] KodrAus commented on #64
This might work best as an independent 'flag' somewhere in the attribute, since if you specify `#[auto_impl(&, Box)]` you probably want both to be implemented for `dyn Trait`. Maybe even just something like:

[code]

So you don't have different items to bring into scope. It's a bit of a semantic overloading of what goes in the attribute, but I think it's a simple enough concept that it shouldn't b

[2021-11-05 15:52] #72 closed

[2021-11-05 16:13] daniel5151 commented on #64
Seeing as #72 was just resolved, this is the only other issue that's blocking me from using `auto_impl` in [my project](https://github.com/daniel5151/gdbstub/blob/304c258409402309e5f3c7623d095b2e567c8d98/src/target/mod.rs#L479-L550).

Any updates on if/when this could get implemented?

[2021-11-05 16:34] LukasKalbertodt commented on #64
@daniel5151 As you can see from this thread, there are a few open questions (mainly regarding how to specify this). To be honest, I don't use `auto_impl` anymore and have kind of lost interest in the project, so I will not implement this. If you want to see this, you probably have to implement it yourself :/ (and even then, no guarantees how quickly I can review the PR)

[2022-03-24 17:17] dhardy commented on #64
FYI trait-objects are supported by [impl-tools](https://github.com/kas-gui/impl-tools/) (see [tests](https://github.com/kas-gui/impl-tools/blob/master/tests/autoimpl.rs#L111)) for examples).

[2022-03-24 23:14] dalcde opened #77 "Support mutable function arguments"
`auto_impl` should support trait methods of the form

[code]

[2022-06-01 05:28] KodrAus commented on #77
The current failure here is:

[code]

This is just a limitation we could work around for this style of simple pattern. In the meantime, you can write:

[code]

[2022-06-01 05:44] KodrAus commented on #46
Coming back through some triage, this might be nice, but probably isn't something we're likely to add support for.

[2022-06-01 05:44] #46 closed

[2022-06-01 05:45] KodrAus commented on #41
Coming back through some triage. In the intervening years the [`impl-tools`](https://github.com/kas-gui/impl-tools) project has sprung up which I think should support this use-case through its more programmatic `#[autoimpl]` syntax.

[2022-06-01 05:45] #41 closed

[2022-06-01 05:48] KodrAus commented on #64
This is probably something best left to `impl-tools` to handle. This library is quite tightly focused on a single simple use-case, so I've opened #79 to point users to it if they need something more sophisticated.

[2022-06-01 05:48] #64 closed

[2022-06-01 05:49] KodrAus commented on #69
Just coming back through some triage, this seems like it would be a nice bit of cleanup, but is unlikely to happen so I'll go ahead and close this one.

[2022-06-01 05:49] #69 closed

[2022-06-01 05:50] #24 closed

[2022-06-01 06:34] #37 closed

[2022-06-01 06:41] #77 closed

[2022-06-01 13:21] RReverser commented on #41
Oh wow, it's been a while. I wonder what happened to that side-project and where I left it 😅

[2022-06-02 05:14] skittles1412 opened #84 "const generics support"
Consider the following code. It currently does not compile (on version 1.0.0).

[code]

Using `cargo expand` I believe the macro expands to:
[code]

The `T::foo(self)` should be `T::foo::<I>(self)`

[2022-06-02 10:58] KodrAus commented on #84
Thanks for the report @skittles1412!

We could probably just always list all generic bounds when expanding the `T::foo‘ call there, since that’s what we’d need to do if any const generics show up anyways.

[2022-06-02 11:02] KodrAus commented on #41
Come back to it 4 years later and close all the issues in the name of “triage”.

[2022-06-02 22:50] #84 closed

[2022-11-02 15:48] lukenels opened #87 "Errors when using an associated type defined in a supertrait"
I'm having some trouble getting `auto_impl` to work when a trait defines a method that takes an argument of some associated type, where the associated type is defined in a supertrait:

[code]

When I try to compile this, I get the following error:

[code]

I've tried a few different things (e.g., using `<Self as Foo>::MyType` instead, putting `auto_impl` on both traits, etc.) but can't seem to get